<style>
   .whole {
        background-color: navajowhite;
        padding: 15px;
    }
</style>


@{
    ViewBag.Title = "Contact";
}
<div class="whole">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Bean Way<br />
    Redmond, WA 98052-6399<br />
    Phone Number:
    425-555-0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:david.schwartz@wakeupcafe.com">david.schwartz@wakeupcafe.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@wakeupcafe.com">Marketing@wakeupcafe.com</a>
</address>
</div>