<style>
    .jumbotron {
        background-color:navajowhite;
        opacity:.9;
    }
    .container-fluid {
        box-sizing:border-box;
        display:inline-block;
        position:relative;
        margin: 1%;
        width:25%;
        height:100px;
    }
</style>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1>Wake Up Cafe</h1><br />

    @foreach (var Item in ViewBag.ItemList)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                    @Item.Item_Name <br />
                   $@Item.Item_Price <br />
                    @Item.Item_Description

                    </div>
                 </div>
               </div>
            </div>
    }

    </div>