<style>
    form{
        background-color:navajowhite;
        padding: 25px;
    }


</style>
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>


@model Lab20.Models.User


<form name="Signup" id="signup" action="/Home/ProcessSignup"  method="post">
    <div class="form-group">
    First Name: <input type="text" name="First_Name" class="form-control" pattern="^[a-zA-Z]+$" title="Name can only contain characters." required/><br />
    Last Name: <input type="text" name="Last_Name" class="form-control" pattern="^[a-zA-Z]+$" title="Name can only contain characters." required/><br />
    Email Address: <input type="email" name="Email" class="form-control" /><br />
    Phone Number: <input type="text" name="Phone_Number" class="form-control" pattern="^([0-9]{3}-[0-9]{3}-[0-9]{4})$" title="Can only contain numbers." maxlength="12" required /><br />
    Password: <input type="password" name="Password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/><br />
       Gender:<br />
           <input type="radio" name="gender" value="male" checked> Male<br>
           <input type="radio" name="gender" value="female"> Female<br>
           <input type="radio" name="gender" value="other"> Other<br /><br />

        Country: <select name="Category" class="form-control">
            <option value="United States">United States</option>
            <option value="Not US">Not US</option>
        </select> <br />
    <input type="submit" value="Signup" />
    </div>

</form>

@Html.ValidationSummary("",new { @class="text-danger"})